/* En tu archivo de estilos CSS */
.logo-image {
    /* Estilo por defecto para el tema claro */
    filter: invert(0%); /* Cambia el color de la imagen a negro */
  }
  
  /* Aplica un estilo diferente para el tema oscuro */
  .dark .logo-image {
    filter: invert(100%); /* Cambia el color de la imagen a blanco */
  }
  
  p{
    color: black;
  }

  .dark p {
    color: white;
  }